<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Person Edit Form</h2>
    </div>

    <div class="row clearfix">
      <div class="">
        <form *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && updatePerson(f)"
              #f="ngForm"
              novalidate>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="person">Username</label>
            <input
              id="person"
              type="text"
              name="person"
              [(ngModel)]="person.username"
              readonly
              autofocus
              #persons="ngModel"
            />
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="first">First Name</label>
            <input
              id="first"
              type="text"
              placeholder="First Name"
              name="first"
              [(ngModel)]="person.name"
              required
              autofocus
              #first="ngModel"
            />

            <div class="alert-danger" *ngIf="first.errors && f.submitted">
              <div *ngIf="first.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="last">Last Name</label>
            <input
              id="last"
              type="text"
              placeholder="Last Name"
              name="last"
              [(ngModel)]="person.surname"
              required
              autofocus
              #last="ngModel"
            />

            <div class="alert-danger" *ngIf="last.errors && f.submitted">
              <div *ngIf="last.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="mail">Email</label>
            <input
              id="mail"
              type="email"
              placeholder="Email"
              name="email"
              [(ngModel)]="person.email"
              required
              autofocus
              #mail="ngModel"
            />
            <div class="alert-danger" *ngIf="mail.errors && f.submitted">
              <div *ngIf="mail.errors.required">Email is required</div>
            </div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="role">Role</label>
            <ng-select class="custom" id="role" [items]="roles"
                       [disabled]="!tokenStorageService.isAdmin"
                       bindLabel="name"
                       placeholder=""
                       appendTo="body"
                       [searchable]="false"
                       [multiple]="true"
                       [(ngModel)]="person.roles"
                       [ngModelOptions]="{standalone: true}">
            </ng-select>

          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="description">Description</label>
            <input
              id="description"
              type="text"
              placeholder="Description"
              name="description"
              [(ngModel)]="person.description"
              autofocus
              #descriptions="ngModel"
            />
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="phone">Phone</label>
            <input
              id="phone"
              type="text"
              placeholder="Phone"
              name="phone"
              [(ngModel)]="person.phone"
              autofocus
              #phones="ngModel"
            />
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="mobile">Mobile</label>
            <input
              id="mobile"
              type="text"
              placeholder="Mobile"
              name="mobile"
              [(ngModel)]="person.mobile"
              required
              autofocus
              #mobiles="ngModel"
            />
            <div class="alert-danger" *ngIf="mobiles.errors && f.submitted">
              <div *ngIf="mobiles.errors.required">Mobile is required</div>
            </div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="idnp">IDNP</label>
            <input
              id="idnp"
              type="text"
              placeholder="IDNP"
              name="mail"
              [(ngModel)]="person.idnp"
              required
              autofocus
              #idnps="ngModel"
              (ngModelChange)="checkIDNP(person.idnp)"
            />
            <div class="alert-danger" *ngIf="idnps.errors && f.submitted">
              <div *ngIf="idnps.errors.required">IDNP is required</div>
              <div *ngIf="idnps.errors.minlength">IDNP must be 13 characters</div>
            </div>
          </div>


          <div class="row">
            <div class="col-6">
              <input class="button" type="submit" value="Register"/>
            </div>
            <div class="col-6">
              <input class="button" type="reset" value="Reset" (click)="backClicked()"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--<div class="container" *ngIf="tokenStorageService.isLoggedIn; else loggedOut">-->
<!--  <div class="col-12" *ngIf="person"-->
<!--       style="border: 2px solid; border-color: rgb(0, 38, 255); font-size: 20px;height: auto">-->
<!--    <h2 class="justify-content-center m-3">Address attributes to Edit</h2>-->
<!--    <form (ngSubmit)="updatePerson(playlistForm)" #playlistForm="ngForm">-->
<!--      <div class="form-group form-group-sm col-sm-6 m-5 ">-->
<!--        <div class="row">-->
<!--          <label for="username" class="col-sm-3 col-form-label">Username</label>-->
<!--          <div class="col-sm-9">-->
<!--            <input type="text" class="form-control" id="username" [(ngModel)]="person.username" name="username"-->
<!--                   readonly="true">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group form-group-sm col-sm-6 m-5">-->
<!--        <div class="row">-->
<!--          <label for="fname" class="col-sm-3 col-form-label">First Name</label>-->
<!--          <div class="col-sm-9">-->
<!--            <input type="text" class="form-control" id="fname" placeholder="Enter First Name" [(ngModel)]="person.name"-->
<!--                   name="fname">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group form-group-sm col-sm-6 m-5">-->
<!--        <div class="row">-->
<!--          <label for="lname" class="col-sm-3 col-form-label">Last Name</label>-->
<!--          <div class="col-sm-9">-->
<!--            <input type="text" class="form-control" id="lname" placeholder="Enter Last Name"-->
<!--                   [(ngModel)]="person.surname" name="lname">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group form-group-sm col-sm-6 m-5">-->
<!--        <div class="row">-->
<!--          <label for="email" class="col-sm-3 col-form-label">Email</label>-->
<!--            <div class="col-sm-9">-->
<!--              <input type="text" class="form-control" id="email" placeholder="Enter Email" [(ngModel)]="person.email" name="email">-->
<!--            </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group form-group-sm col-sm-6 m-5" >-->
<!--        <div class="row">-->
<!--          <label for="role" class="col-sm-3 col-form-label">Roles</label>-->
<!--          <div class="col-sm-9">-->
<!--          <ng-select class="custom" id="role" [items]="roles"-->
<!--                     [disabled]="!tokenStorageService.isAdmin"-->
<!--              bindLabel="name"-->
<!--              placeholder=""-->
<!--              appendTo="body"-->
<!--                     [searchable]="false"-->
<!--                      [multiple]="true"-->
<!--                      [(ngModel)]="person.roles"-->
<!--                     [ngModelOptions]="{standalone: true}">-->
<!--            </ng-select>-->
<!--          </div>-->
<!--        </div>-->
<!--        </div>-->
<!--      <div class="form-group form-group-sm col-sm-6 m-5">-->
<!--        <div class="row">-->
<!--          <label for="description" class="col-sm-3 col-form-label">Description</label>-->
<!--          <div class="col-sm-9">-->
<!--            <input type="text" class="form-control" id="description" placeholder="Enter Description" [(ngModel)]="person.description" name="description">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group form-group-sm col-sm-6 m-5">-->
<!--        <div class="row">-->
<!--          <label for="phone" class="col-sm-3 col-form-label">Phone</label>-->
<!--          <div class="col-sm-9">-->
<!--            <input type="text" class="form-control" id="phone" placeholder="Enter Phone Number" [(ngModel)]="person.phone" name="phone">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group form-group-sm col-sm-6 m-5">-->
<!--        <div class="row">-->
<!--          <label for="mobile" class="col-sm-3 col-form-label">Mobile</label>-->
<!--          <div class="col-sm-9">-->
<!--            <input type="text" class="form-control" id="mobile" placeholder="Enter Mobile Number" [(ngModel)]="person.mobile" name="mobile">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group form-group-sm col-sm-6 m-5">-->
<!--        <div class="row">-->
<!--          <label for="idnp" class="col-sm-3 col-form-label">IDNP</label>-->
<!--          <div class="col-sm-9">-->
<!--            <input type="text" class="form-control" id="idnp" placeholder="Enter IDNP" [(ngModel)]="person.idnp" name="idnp">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <button type="submit" class="btn btn-success m-5 btn-lg" (click)="updatePerson(playlistForm)">Submit</button>-->
<!--      <button type="cancel" class="btn btn-danger m-5  btn-lg" (click)="backClicked()">Cancel</button>-->

<!--    </form>-->
<!--  </div>-->
<!--</div>-->


<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div *ngIf="!person">-->
<!--  <br/>-->
<!--  <p>Cannot access this Person...</p>-->
<!--</div>-->

<!--<ng-template #loggedOut>-->
<!--  Please login.-->
<!--</ng-template>-->




