  <a href="/" title=""><img src="../../../assets/img/home64.png" class="img-responsive float-center figure-img img-fluid p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Home" alt="Home"></a>
  <a href="/meterdata" title=""><img src="../../../assets/img/performance.png" class="img-responsive float-center figure-img img-fluid p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="MeterData" alt="MeterData"></a>
  <a href="/payments" title=""><img src="../../../assets/img/money.png" class="img-responsive float-center figure-img img-fluid p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Payments" alt="Payments"></a>
  <a href="/invoices" title="Invoices"><img src="../../../assets/img/invoice.png" class="img-responsive float-center figure-img img-fluid p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Invoice" alt="Invoice"></a>
  <a href="/person" title=""><img src="../../../assets/img/tenant.png" class="img-responsive float-center figure-img img-fluid p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Person" alt="Person"></a>

  <a href="/meters" title=""><img src="../../../assets/img/electric-meter.png" class="img-responsive float-center figure-img img-fluid p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Meter" alt="Meter"></a>
  <a href="/flats" title=""><img src="../../../assets/img/apartment.png" class="img-responsive float-center figure-img img-fluid p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Flat" alt="Flat"></a>

  <a href="/buildings" title=""><img src="../../../assets/img/skyscraper.png" class="img-responsive float-center figure-img img-fluid p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Building" alt="Building"></a>
  <a href="/suppliers" title=""><img src="../../../assets/img/supplier.png" class="img-responsive float-center figure-img img-fluid p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Supplier" alt="Supplier"></a>
  <a href="/address" title=""><img src="../../../assets/img/address.png" class="img-responsive float-center figure-img img-fluid p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Address"></a>
  <a href="/files" title=""><img src="../../../assets/img/bill.png" class="img-responsive float-center figure-img img-fluid p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Files"></a>
    <a href="#" title=""><img src="../../../assets/img/report.png" class="img-responsive float-center figure-img img-fluid p-3"></a>

