body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  background: #f2f2f2;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.form_wrapper {
  background: #fff;
  width: 600px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 50px;
  margin: 8% auto 0;
  position: relative;
  z-index: 1;
  border-top: 5px solid lightblue;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: none;
  transition: none;
  -webkit-animation: expand 0.0s 0.0s linear forwards;
  animation: expand 0.0s 0.0s linear forwards;
  opacity: 0;
}

.form_wrapper h2  {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0;
}

.form_wrapper .title_container  {
  text-align: center;
  padding-bottom: 15px;
}

.form_wrapper h3 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
}

.form_wrapper label {
  font-size: 12px;
}

.form_wrapper .row {
  margin: 10px -15px;
}

.form_wrapper .row > div {
  padding: 0 15px;
  box-sizing: border-box;
}

.form_wrapper .col_half {
  width: 50%;
  float: left;
}

.form_wrapper .input_field {
  position: relative;
  margin-bottom: 10px;
  -webkit-animation: bounce 0.0s linear;
  animation: bounce 0.0s linear;
}

.form_wrapper .input_field > span {
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  height: 100%;
  /*border-right: 1px solid #cccccc;*/
  text-align: center;
  width: 30px;
}

.form_wrapper .input_field > span > i {
  padding-top: 10px;
}

.form_wrapper .textarea_field > span > i {
  padding-top: 10px;
}

.form_wrapper input[type=text], .form_wrapper input[type=email], .form_wrapper input[type=password] {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form_wrapper input[type=text]:hover, .form_wrapper input[type=email]:hover, .form_wrapper input[type=password]:hover {
  background: #fafafa;
}

.form_wrapper input[type=text]:focus, .form_wrapper input[type=email]:focus, .form_wrapper input[type=password]:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
  background: #fafafa;
}

.form_wrapper input[type=submit] {
  background: dodgerblue;
  height: 35px;
  line-height: 30px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form_wrapper input[type=submit]:hover {
  background: #e1a70a;
}

.form_wrapper input[type=submit]:focus {
  background: #e1a70a;
}

.form_wrapper input[type=checkbox], .form_wrapper input[type=radio] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.form_container .row .col_half.last {
  border-left: 1px solid #cccccc;
}
@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 7px;
  }
  50% {
    height: 20px;
    width: 7px;
  }
}

@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 7px;
  }
  50% {
    height: 20px;
    width: 7px;
  }
}

@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
    transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
    transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
    transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .form_wrapper .col_half {
    width: 100%;
    float: none;
  }

  .bottom_row .col_half {
    width: 50%;
    float: left;
  }

  .form_container .row .col_half.last {
    border-left: none;
  }

}








/*============================*/
/*body {*/
/*  margin:0;*/
/*  color:#edf3ff;*/
/*  background:#c8c8c8;*/
/*  background:url(https://therichpost.com/wp-content/uploads/2021/03/material-design-4k-2048x1152-1.jpg) fixed;*/
/*  background-size: cover;*/
/*  font:600 16px/18px 'Open Sans',sans-serif;*/
/*}*/
/*:after,:before{box-sizing:border-box}*/
/*.clearfix:after,.clearfix:before{content:'';display:table}*/
/*.clearfix:after{clear:both;display:block}*/
/*a{color:inherit;text-decoration:none}*/
/*.login-wrap{*/
/*  width: 100%;*/
/*  margin:auto;*/
/*  max-width:510px;*/
/*  min-height:510px;*/
/*  position:relative;*/
/*  background:url(https://therichpost.com/wp-content/uploads/2021/03/material-1-1000x563-1.jpg) no-repeat center;*/
/*  background-size: cover;*/
/*  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);*/
/*}*/
/*.login-html{*/
/*  width:100%;*/
/*  height:100%;*/
/*  position:absolute;*/
/*  padding:90px 70px 50px 70px;*/
/*  background:rgba(0,0,0,0.5);*/
/*}*/
/*.login-html .sign-in-htm,*/
/*.login-html .for-pwd-htm{*/
/*  top:0;*/
/*  left:0;*/
/*  right:0;*/
/*  bottom:0;*/
/*  position:absolute;*/
/*  -webkit-transform:rotateY(180deg);*/
/*  transform:rotateY(180deg);*/
/*  -webkit-backface-visibility:hidden;*/
/*  backface-visibility:hidden;*/
/*  -webkit-transition:all .4s linear;*/
/*  transition:all .4s linear;*/
/*}*/
/*.login-html .sign-in,*/
/*.login-html .for-pwd,*/
/*.login-form .group .check{*/
/*  display:none;*/
/*}*/
/*.login-html .tab,*/
/*.login-form .group .label,*/
/*.login-form .group .button{*/
/*  text-transform:uppercase;*/
/*}*/
/*.login-html .tab{*/
/*  font-size:22px;*/
/*  margin-right:15px;*/
/*  padding-bottom:5px;*/
/*  margin:0 15px 10px 0;*/
/*  display:inline-block;*/
/*  border-bottom:2px solid transparent;*/
/*}*/
/*.login-html .sign-in:checked + .tab,*/
/*.login-html .for-pwd:checked + .tab{*/
/*  color:#fff;*/
/*  border-color:#1161ee;*/
/*}*/
/*.login-form{*/
/*  min-height:345px;*/
/*  position:relative;*/
/*  -webkit-perspective:1000px;*/
/*  perspective:1000px;*/
/*  -webkit-transform-style:preserve-3d;*/
/*  transform-style:preserve-3d;*/
/*}*/
/*.login-form .group{*/
/*  margin-bottom:15px;*/
/*}*/
/*.login-form .group .label,*/
/*.login-form .group .input,*/
/*.login-form .group .button{*/
/*  width:100%;*/
/*  color:#fff;*/
/*  display:block;*/
/*}*/
/*.login-form .group .input,*/
/*.login-form .group .button{*/
/*  border:none;*/
/*  padding:15px 20px;*/
/*  border-radius:25px;*/
/*  background:rgba(255,255,255,.1);*/
/*}*/
/*.login-form .group input[data-type="password"]{*/
/*  text-security:circle;*/
/*  -webkit-text-security:circle;*/
/*}*/
/*.login-form .group .label{*/
/*  color:#fafafa;*/
/*  font-size:15px;*/
/*}*/
/*.login-form .group .button{*/
/*  background:#1161ee;*/
/*}*/
/*.login-form .group label .icon{*/
/*  width:15px;*/
/*  height:15px;*/
/*  border-radius:2px;*/
/*  position:relative;*/
/*  display:inline-block;*/
/*  background:rgba(255,255,255,.1);*/
/*}*/
/*.login-form .group label .icon:before,*/
/*.login-form .group label .icon:after{*/
/*  content:'';*/
/*  width:10px;*/
/*  height:2px;*/
/*  background:#fff;*/
/*  position:absolute;*/
/*  -webkit-transition:all .2s ease-in-out 0s;*/
/*  transition:all .2s ease-in-out 0s;*/
/*}*/
/*.login-form .group label .icon:before{*/
/*  left:3px;*/
/*  width:5px;*/
/*  bottom:6px;*/
/*  -webkit-transform:scale(0) rotate(0);*/
/*  transform:scale(0) rotate(0);*/
/*}*/
/*.login-form .group label .icon:after{*/
/*  top:6px;*/
/*  right:0;*/
/*  -webkit-transform:scale(0) rotate(0);*/
/*  transform:scale(0) rotate(0);*/
/*}*/
/*.login-form .group .check:checked + label{*/
/*  color:#fff;*/
/*}*/
/*.login-form .group .check:checked + label .icon{*/
/*  background:#1161ee;*/
/*}*/
/*.login-form .group .check:checked + label .icon:before{*/
/*  -webkit-transform:scale(1) rotate(45deg);*/
/*  transform:scale(1) rotate(45deg);*/
/*}*/
/*.login-form .group .check:checked + label .icon:after{*/
/*  -webkit-transform:scale(1) rotate(-45deg);*/
/*  transform:scale(1) rotate(-45deg);*/
/*}*/
/*.login-html .sign-in:checked + .tab + .for-pwd + .tab + .login-form .sign-in-htm{*/
/*  -webkit-transform:rotate(0);*/
/*  transform:rotate(0);*/
/*}*/
/*.login-html .for-pwd:checked + .tab + .login-form .for-pwd-htm{*/
/*  -webkit-transform:rotate(0);*/
/*  transform:rotate(0);*/
/*}*/
/*.hr{*/
/*  height:2px;*/
/*  margin:60px 0 50px 0;*/
/*  background:rgba(255,255,255,.2);*/
/*}*/
/*.foot-lnk{*/
/*  text-align:center;*/
/*}*/
/*button:focus, input:focus*/
/*{*/
/*  outline: none;*/
/*}*/
