<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2 class="pb-5">Reset Password Form</h2>
      <form
        *ngIf="!isLoggedIn" name="form"
        (ngSubmit)="f.form.valid && sendEmail(email.value)"
        #f="ngForm"
        novalidate>
        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
          <input
            type="email"
            name="email"
            [(ngModel)]="form.email"
            placeholder="Email"
            required
            minlength="3"
            maxlength="50"
            #email="ngModel"
            autofocus
          />
        </div>
        <div class="alert-info" *ngIf="f.submitted">
          <div>An email with reset link has been sent to: {{form.email}}</div>

        </div>
        <input class="button" type="submit" value="Reset Password" />
      </form>
    </div>
  </div>
</div>
