.modal-dialog {
  display: inline-block;
}

.modal .modal-content {
  padding: 20px 20px 20px 20px;
  -webkit-animation-name: modal-animation;
  -webkit-animation-duration: 0.5s;
  animation-name: modal-animation;
  animation-duration: 1s;

}

.modal-dialog,
.modal-content {

  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5px;
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
}


.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow-y: scroll;
  align-content: normal;
}
.person-modal{

  margin: 5% auto; /* 15% from the top and centered */
  padding: 2px;
  width: 101%; /* Could be more or less, depending on screen size */
}
