<div class="container-fluid" *ngIf="tokenStorageService.isLoggedIn; else loggedOut">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="row">
          <div class="card-header">
            <i class="fa fa-building"></i> List of available Meters
          </div>

        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <a class="btn btn-light btn-lg m-3" routerLink="add"><img src="../../../assets/img/new1.png">Add New</a>
            </div>
            <div class="col-4" >
              <form class="d-flex" action="list" method="get">
                <div class="row pt-4 dataTables_length bs-select" id="dtBasicExample_length">
                  <div class="col-8" >
                    Items per Page:
                  </div>
                  <div class="col-4" >
                    <select (change)="handlePageSizeChange($event)">
                      <option *ngFor="let size of pageSizes" [ngValue]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                </div>
              </form>
            </div>

            <div class="col-6 pt-4">
              <form class="d-flex" action="list" method="get">
                <input type="text" class="form-control" placeholder="Search word" [(ngModel)]="title" name="query"/>
                <button class="btn btn-success btn-lg text-center me-3 ms-3" type="button" (click)="retrieveMeters()">Search
                </button>
                <a href="/person" class="btn btn-primary btn-lg text-center" role="button" aria-pressed="true">Clear</a>
              </form>
            </div>
          </div>
          <nav>
            <ul class="pagination">
              <div class="col-md-12 paginationCss">
                <pagination-controls
                  previousLabel="Prev"
                  nextLabel="Next"
                  [responsive]="true"
                  (pageChange)="handlePageChange($event)"
                  (pageBoundsCorrection)="handlePageChange($event)"
                ></pagination-controls>
              </div>
            </ul>
          </nav>
          <table class="table table-bordered table-responsive-sm table-striped table-sm">
            <thead align="center">
            <tr>
              <th class="col-1">Serial</th>
              <th class="col-1">Meter Type</th>
              <th class="col-1">Initial Value</th>
              <th class="col-1">Placement</th>
              <th class="col-1">Supplier</th>
              <th class="col-1">Contract Person</th>
              <th class="col-1">Flat</th>
              <th class="col-2">Building</th>
              <th class="col-2" colspan=2>Quick Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let meter of meters|paginate : {
                              itemsPerPage: pageSize,
                              currentPage: page,
                              totalItems: count
                            };
                            let i = index"
                align="center" style="font-size: 18px">
              <td>{{meter.serial}}</td>
              <td>{{meter.meterDest?.name}}</td>
              <td>{{meter.initialValue}}</td>
              <td>{{meter.typeOfMeterInvoice?.name}}</td>
              <td *ngIf="meter.supplier">{{meter.supplier.supplierName}}</td>
              <td>{{meter?.person?.name}} {{meter?.person?.surname}}</td>
              <td>{{meter?.flat?.flatNumber}}</td>
              <!--            Without entrance&ndash;&gt;-->
              <td
                *ngIf="!meter.building?.address?.entranceNo">{{meter.building?.address?.city}} {{meter.building?.address?.raion}} {{meter.building?.address?.street}} {{meter.building?.address?.houseNumber}}</td>
              <!--            In case if entranceExist-->
              <td
                *ngIf="meter.building?.address?.entranceNo">{{meter.building?.address?.city}} {{meter.building?.address?.raion}} {{meter.building?.address?.street}} {{meter.building?.address?.houseNumber}}
                /{{meter.building?.address?.entranceNo}} </td>

              <td align="center"><a class="btn btn-lg" routerLink="{{meter.meterId}}"><img
                src="../../../assets/img/edit1.png">Edit</a></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="card-footer">

      </div>
    </div>

  </div>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>
