<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Address Add Form</h2>
    </div>

    <div class="row clearfix">
      <div class="">
        <form *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && saveAddress()"
              #f="ngForm"
              novalidate>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="address">City</label>
            <input
              id="address"
              type="text"
              placeholder="City"
              name="city"
              [(ngModel)]="form.city"
              required
              autofocus
              #city="ngModel"
            />
            <div class="alert-danger" *ngIf="city.errors && f.submitted">
              <div *ngIf="city.errors.required">City is required</div>
            </div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="raion">Raion</label>
            <input
              id="raion"
              type="text"
              placeholder="Raion"
              name="raion"
              [(ngModel)]="form.raion"
              required
              #raion="ngModel"
            />
            <div class="alert-danger" *ngIf="raion.errors && f.submitted">
              <div *ngIf="raion.errors.required">Raion is required</div>
            </div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="street">Street</label>
            <input
              id="street"
              type="text"
              placeholder="Street"
              name="street"
              [(ngModel)]="form.street"
              required
              #street="ngModel"
            />
            <div class="alert-danger" *ngIf="street.errors && f.submitted">
              <div *ngIf="street.errors.required">Street is required</div>
            </div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="house">House Number</label>
            <input
              id="house"
              type="text"
              placeholder="House number"
              name="houseNumber"
              [(ngModel)]="form.houseNumber"
              required
              autofocus
              #house="ngModel"
            />
            <div class="alert-danger" *ngIf="house.errors && f.submitted">
              <div *ngIf="house.errors.required">House number is required</div>
            </div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="entrance">Entrance</label>
            <input
              id="entrance"
              type="number"
              placeholder="Entrance Number"
              name="entranceNo"
              [(ngModel)]="form.entranceNo"
              #entrance="ngModel"
            />
          </div>
          <div class="row">
            <div class="col-6">
              <input class="button" type="submit" value="Register"/>
            </div>
            <div class="col-6">
              <input class="button" type="reset" value="Reset" (click)="backClicked()"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
