<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Invoices Edit Form</h2>
    </div>

    <div class="row clearfix">
      <div class="">
        <form *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && updateInvoice(f)"
              #f="ngForm"
              novalidate>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="invnum">Invoice Number</label>
            <input
              id="invnum"
              type="text"
              name="invoiceNumber"
              [(ngModel)]="invoice.invoiceNumber"
              placeholder="Invoice Number"
              required
              #invnum="ngModel"
              autofocus
              disabled="invoice.status?.name!='STATUS_NEW'"
            />
          </div>
          <div class="alert-danger" *ngIf="invnum.errors && f.submitted">
            <div *ngIf="invnum.errors.required">Invoice number is required</div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="supplier">Supplier</label>
            <ng-select id="supplier" [items]="suppliers"
                       bindLabel="supplierName"
                       placeholder="Select Supplier"
                       appendTo="body"
                       #supp="ngModel"
                       required
                       disabled="invoice.status?.name!='STATUS_NEW'"
                       [searchable]="true"
                       [multiple]="false"
                       [(ngModel)]=invoice.supplier
                       [ngModelOptions]="{standalone: true}">
            </ng-select>

            <div class="alert-danger" *ngIf="supp.errors && f.submitted">
              <div *ngIf="supp.errors.required">Supplier is required</div>
            </div>
          </div>

          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="building">Building</label>
            <ng-select id="building" [items]="buildings"
                       bindLabel="bindName"
                       placeholder="Select Building"
                       appendTo="body"
                       [searchable]="true"
                       [multiple]="true"
                       [hideSelected]="true"
                       #build="ngModel"
                       required
                       disabled="invoice.status?.name!='STATUS_NEW'"
                       [(ngModel)]=invoice.buildings
                       [ngModelOptions]="{standalone: true}">
              <ng-option *ngFor="let building of buildings"
                         [value]="building">{{building?.address?.city}} {{building?.address?.raion}} {{building?.address?.street}} {{building?.address?.houseNumber}}
                <span *ngIf="building?.address?.entranceNo">/{{building?.address?.entranceNo}}</span></ng-option>
            </ng-select>

            <div class="alert-danger" *ngIf="build.errors && f.submitted">
              <div *ngIf="build.errors.required">Building is required</div>
            </div>
          </div>
          <div class="input_field" *ngIf="hasMeter"><span><i aria-hidden="true" ></i></span>
            <label for="meter">Meter</label>
            <ng-select id="meter" [items]="meters"
                       bindLabel="bindName"
                       placeholder="Select Meter"
                       appendTo="body"
                       [searchable]="true"
                       [multiple]="false"
                       #met="ngModel"
                       required
                       disabled="invoice.status?.name!='STATUS_NEW'"
                       [(ngModel)]=invoice.meter
                       [ngModelOptions]="{standalone: true}">
              <ng-option *ngFor="let meter of meters" [value]="meter">{{meter.serial}}</ng-option>

            </ng-select>

            <div class="alert-danger" *ngIf="met.errors && f.submitted">
              <div *ngIf="met.errors.required">Meter is required</div>
            </div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="prev">Meter Previous Data</label>
            <input
              id="prev"
              type="number"
              name="prev"
              [(ngModel)]="invoice.meterDataPrevious"
              placeholder="Meter Previous Data"
              disabled="invoice.status?.name!='STATUS_NEW'"
              #prev="ngModel"
            />
          </div>
          <div class="alert-danger" *ngIf="prev.errors && f.submitted">
            <div *ngIf="prev.errors.required">Previous Data is required</div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="curr">Current Meter Data</label>
            <input
              id="curr"
              type="number"
              name="curr"
              disabled="invoice.status?.name!='STATUS_NEW'"
              [(ngModel)]="invoice.meterDataCurrent"
              placeholder="Current Meter Data"

              #curr="ngModel"
            />
          </div>

          <div *ngIf="prev>curr" class="alert-danger">Current Data must be greater then Previuos</div>
          <div class="alert-danger" *ngIf="curr.errors && f.submitted">
            <div *ngIf="curr.errors.required">Current Data is required</div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="sum">Invoice Sum</label>
            <input
              id="sum"
              type="number"
              name="sum"
              disabled="invoice.status?.name!='STATUS_NEW'"
              [(ngModel)]="invoice.invoiceSum"
              placeholder="Invoice Sum"
              required
              #sum="ngModel"
            />
          </div>
          <div class="alert-danger" *ngIf="sum.errors && f.submitted">
            <div *ngIf="sum.errors.required">Invoice sum is required</div>
          </div>
          <div class="input_field"><span><i aria-hidden="true" ></i></span>
            <label for="place">Placement</label>
            <ng-select id="place" [items]="typeOfMeterInvoice"
                       bindLabel="name"
                       placeholder="Select Type of Invoice"
                       appendTo="body"
                       [searchable]="false"
                       [multiple]="false"
                       required
                       #place="ngModel"
                       disabled="invoice.status?.name!='STATUS_NEW'"
                       [(ngModel)]="invoice.typeOfMeterInvoice"
                       [ngModelOptions]="{standalone: true}">
            </ng-select>

            <div class="alert-danger" *ngIf="place.errors && f.submitted">
              <div *ngIf="place.errors.required">Placement is required</div>
            </div>
          </div>
          <div class="input_field "><span><i aria-hidden="true"></i></span>
            <label for="close">Payed Date</label>
            <input
              class="dateTime"
              id="close"
              type="date"
              name="dateOfPay"
              [(ngModel)]="invoice.dateOfPay"
              placeholder="Payed date"
              #close="ngModel"
            />
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="till">Payment limit time</label>
            <input
              class="dateTime"
              id="till"
              type="date"
              name="till"
              disabled="invoice.status?.name!='STATUS_NEW'"
              [(ngModel)]="invoice.payTill"
              placeholder="Invoice Payment limit"
              required
              #till="ngModel"
            />
          </div>
          <div class="alert-danger" *ngIf="till.errors && f.submitted">
            <div *ngIf="till.errors.required">Payment limit time is required</div>
          </div>


          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="file">File ID</label>
            <input
              id="file"
              type="text"
              name="invnum"
              disabled="invoice.status?.name!='STATUS_NEW'"
              [(ngModel)]="invoice.invoiceFileId"
              placeholder="Invoice Number"
              #invnum="ngModel"
            />
          </div>

          <div class="row">
            <div class="col-6">
              <input class="button" type="submit" value="Register"/>
            </div>
            <div class="col-6">
              <input class="button" type="reset" value="Reset" (click)="backClicked()"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
