<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Meters Add Form</h2>
    </div>

    <div class="row clearfix">
      <div class="">
        <form *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && saveMeterData()"
              #f="ngForm"
              novalidate>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="meter">Meter Serial</label>
            <ng-select id="meter" [items]="meters"
                       (change)=getPreviousValue()
                       bindLabel="bindName"
                       placeholder="Select Meter"
                       appendTo="body"
                       #met="ngModel"
                       required
                       autofocus
                       [searchable]="true"
                       [multiple]="false"
                       [(ngModel)]=selectedMeter
                       [ngModelOptions]="{standalone: true}">
            </ng-select>

            <div class="alert-danger" *ngIf="met.errors && f.submitted">
              <div *ngIf="met.errors.required">Meter is required</div>
            </div>
          </div>
          <div class="input_field"> <span><i aria-hidden="true"></i></span>
            <label for="prev">Previous value</label>
            <input
              id="prev"
              type="number"
              name="prev"

              [(ngModel)]="form.previousValue"
              readonly
              #prev="ngModel"
            />
          </div>
          <div class="input_field"> <span><i aria-hidden="true"></i></span>
            <label for="curr">Current value</label>
            <input
              id="curr"
              type="number"
              name="curr"
              [(ngModel)]="form.currentValue"
              (change)="enterCurrentValue($event)"
              placeholder="Current Value"
              required
              #curr="ngModel"
            />
          </div>
          <div class="alert-danger" *ngIf="difference">Current Value should be greater then Previous</div>
          <div class="alert-danger" *ngIf="curr.errors && f.submitted">
            <div *ngIf="curr.errors.required">Current value is required</div>
            <div *ngIf="difference">Current Value should be greater then Previous</div>
          </div>
          <div class="row">
            <div class="col-6">
              <input class="button" type="submit" value="Register"/>
            </div>
            <div class="col-6">
              <input class="button" type="reset" value="Reset" (click)="backClicked()"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
