<div class="container-fluid" *ngIf="newInvoicesSupp && tokenStorageService.isManager">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="row">
          <div class="card-header">
            <i class="fa fa-building"></i> List of New Suppliers Invoices
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-responsive-sm table-striped table-sm">
            <thead align="center">
            <tr>
              <th class="col-1">Invoice number</th>
              <th class="col-1">Current value</th>
              <th class="col-1">Previous value</th>
              <th class="col-1">Total sum</th>
              <th class="col-1">Unit price</th>
              <th class="col-1">Pay till</th>
              <th class="col-1">Emitted date</th>
              <th class="col-1">Pay date</th>
              <th class="col-1">Meter</th>
              <th class="col-1">Supplier</th>
              <th class="col-1">Buildings</th>
              <th class="col-1">Attachement</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of newInvoicesSupp" align="center" style="font-size: 18px">
              <td>{{invoice.invoiceNumber}}</td>
              <td>{{invoice.meterDataCurrent}}</td>
              <td>{{invoice.meterDataPrevious}}</td>
              <td>{{invoice.invoiceSum}}</td>
              <td>{{invoice.unitPrice}}</td>
              <td>{{invoice.payTill}}</td>
              <td>{{invoice.emittedDate}}</td>
              <td>{{invoice.dateOfPay}}</td>
              <td>{{invoice.meter?.serial}}</td>
              <td>{{invoice.supplier?.supplierName}}</td>
              <td><span
                *ngFor="let building of invoice.buildings">{{building?.address?.city}} {{building?.address?.raion}} {{building?.address?.street}} {{building?.address?.houseNumber}}
                <span *ngIf="building?.address?.entranceNo">/{{building?.address?.entranceNo}}</span></span></td>
              <td>
                          <span *ngIf="invoice.fileInfo">
                          <a href="{{invoice.fileInfo?.url}}" download="{{invoice.fileInfo?.name}}">Download</a>
                            </span>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="card-footer">

      </div>
    </div>

  </div>
</div>
<div class="container-fluid" *ngIf="flats && tokenStorageService.isManager">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="row">
          <div class="card-header">
            <i class="fa fa-building"></i> List of Flats with negative value for wallet
          </div>

        </div>

        <div class="card-body">

          <table class="table table-bordered table-responsive-sm table-striped table-sm">
            <thead align="center">
            <tr>
              <th class="col-1">Flat number</th>
              <th class="col-1">Floor</th>
              <th class="col-1">Entrance</th>
              <th class="col-1">Wallet</th>
              <th class="col-2">Person(s)</th>
              <th class="col-2">Building</th>
              <th class="col-1">Person Number</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let flat of flats; let i = index"
                align="center" style="font-size: 18px">
              <td>{{flat.flatNumber}}</td>
              <td>{{flat.floor}}</td>
              <td>{{flat.entrance}}</td>
              <td>{{flat.wallet}}</td>
              <td *ngIf="flat.person">
                <ng-option *ngFor="let p of flat.person" [value]="flat.person">{{p.name}} {{p.surname}}</ng-option>
              </td>
              <!--            Without entrance-->
              <td
                *ngIf="!flat.building?.address?.entranceNo">{{flat.building?.address?.city}} {{flat.building?.address?.raion}} {{flat.building?.address?.street}} {{flat.building?.address?.houseNumber}}</td>
              <!--            In case if entranceExist-->
              <td
                *ngIf="flat.building?.address?.entranceNo">{{flat.building?.address?.city}} {{flat.building?.address?.raion}} {{flat.building?.address?.street}} {{flat.building?.address?.houseNumber}}
                /{{flat.building?.address?.entranceNo}} </td>
              <td>{{flat.numberOfPerson}}</td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="card-footer">

      </div>
    </div>

  </div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
