<div class="container-fluid" *ngIf="tokenStorageService.isLoggedIn; else loggedOut">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="row">
          <div class="card-header">
            <i class="fa fa-supple"></i> List of available Suppliers
          </div>

        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <a class="btn btn-light btn-lg m-3" routerLink="add"><img src="../../../assets/img/new1.png">Add New</a>
            </div>
            <div class="col-4" >
              <form class="d-flex" action="list" method="get">
                <div class="row pt-4 dataTables_length bs-select" id="dtBasicExample_length">
                  <div class="col-8" >
                    Items per Page:
                  </div>
                  <div class="col-4" >
                    <select (change)="handlePageSizeChange($event)">
                      <option *ngFor="let size of pageSizes" [ngValue]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                </div>
              </form>
            </div>

            <div class="col-6 pt-4">
              <form class="d-flex" action="list" method="get">
                <!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" #search>-->
                <input type="text" class="form-control" placeholder="Search word" [(ngModel)]="title" name="query"/>
                <button class="btn btn-success btn-lg text-center me-3 ms-3" type="button" (click)="retrieveSuppliers()">Search
                </button>
                <a href="/person" class="btn btn-primary btn-lg text-center" role="button" aria-pressed="true">Clear</a>
              </form>
            </div>
          </div>
          <nav>
            <ul class="pagination">
              <div class="col-md-12 paginationCss">
                <pagination-controls
                  previousLabel="Prev"
                  nextLabel="Next"
                  [responsive]="true"
                  (pageChange)="handlePageChange($event)"
                  (pageBoundsCorrection)="handlePageChange($event)"
                ></pagination-controls>
              </div>
            </ul>
          </nav>
          <table class="table table-bordered table-responsive-sm table-striped table-sm">
            <thead align="center">
            <tr>
              <th style="height: 10%">Supplier</th>
              <th style="height: 10%">IBAN</th>
              <th style="height: 10%">Bank Code</th>
              <th style="height: 10%">Fiscal Code</th>
              <th style="height: 20%">Address</th>
              <th style="height: 20%">Information</th>
              <th style="height: 10%" colspan=2>Quick Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let supplier of suppliers|paginate : {
                              itemsPerPage: pageSize,
                              currentPage: page,
                              totalItems: count
                            };
                            let i = index"
                align="center" style="font-size: 18px">
              <td>{{supplier.supplierName}}</td>
              <td>{{supplier.iban}}</td>
              <td>{{supplier.bankCode}}</td>
              <td>{{supplier.fiscalCode}}</td>
              <td
                *ngIf="supplier.address">{{supplier.address.city}} {{supplier.address.raion}} {{supplier.address.street}} {{supplier.address.houseNumber}}
                <span *ngIf="supplier?.address?.entranceNo">/{{supplier?.address?.entranceNo}}</span></td>
              <td>{{supplier.details}}</td>
              <td align="center"><a class="btn btn-lg" routerLink="{{supplier.supplierid}}"><img
                src="../../../assets/img/edit1.png">Edit</a></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="card-footer">

      </div>
    </div>

  </div>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>








<!--&lt;!&ndash;<div class="container-fluid" *ngIf="isLoggedIn; else loggedOut">&ndash;&gt;-->
<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <h2 class="pt-3">List of available Suppliers</h2>-->
<!--    <div class="col-12" style="border: 2px solid; border-color: rgb(0, 38, 255);font-size: large">-->
<!--      <div class="row">-->
<!--        <div class="col-2">-->
<!--          <a class="btn btn-light btn-lg m-3" routerLink="add"><img src="../../../assets/img/new1.png">Add New</a>-->
<!--        </div>-->
<!--        <div class="col-3">-->
<!--          <form class="d-flex" action="list" method="get">-->
<!--            <div class="dataTables_length bs-select" id="dtBasicExample_length">-->

<!--              <div class="row">-->
<!--                <div class="col-9">-->
<!--                  Items per Page:-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                  <select (change)="handlePageSizeChange($event)">-->
<!--                    <option *ngFor="let size of pageSizes" [ngValue]="size">-->
<!--                      {{ size }}-->
<!--                    </option>-->
<!--                  </select>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--        <div class="col-5 pt-4">-->
<!--          <form class="d-flex" action="list" method="get">-->
<!--            &lt;!&ndash;            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" #search>&ndash;&gt;-->
<!--            <input  type="text"  class="form-control" placeholder="Search word" [(ngModel)]="title" name="query"/>-->
<!--            <button class="btn btn-success btn-lg text-center" type="button" (click)="retrieveSuppliers()">Search</button>-->
<!--            <a href="/person" class="btn btn-primary btn-lg text-center" role="button" aria-pressed="true">Clear</a>-->
<!--          </form>-->
<!--        </div>-->

<!--      </div>-->
<!--      <div>-->
<!--        <table class="table table-bordered table-hover table-primary table-responsive table-responsive-lg">-->
<!--          <thead class="thead-dark">-->
<!--          <tr align="center" style="font-size: 20px">-->
<!--            <th class="col-2">Supplier</th>-->
<!--            <th class="col-2">IBAN</th>-->
<!--            <th class="col-2">Bank Code</th>-->
<!--            <th class="col-2">Fiscal Code</th>-->
<!--            <th class="col-3">Address</th>-->
<!--            <th class="col-2">Information</th>-->
<!--            <th class="col-2" colspan=2>Quick Edit</th>-->
<!--          </tr>-->
<!--          </thead>-->


<!--          <tr *ngFor="let supplier of suppliers|paginate : {-->
<!--                  itemsPerPage: pageSize,-->
<!--                  currentPage: page,-->
<!--                  totalItems: count-->
<!--                };-->
<!--                let i = index"-->
<!--              align="center" style="font-size: 18px">-->
<!--            <td>{{supplier.supplierName}}</td>-->
<!--            <td>{{supplier.IBAN}}</td>-->
<!--            <td>{{supplier.bankCode}}</td>-->
<!--            <td>{{supplier.fiscalCode}}</td>-->
<!--            <td *ngIf="supplier.address">{{supplier.address.city}} {{supplier.address.raion}} {{supplier.address.street}} {{supplier.address.houseNumber}}<span *ngIf="supplier?.address?.entranceNo">/{{supplier?.address?.entranceNo}}</span></td>-->
<!--            <td>{{supplier.details}}</td>-->
<!--            <td align="center"><a class="btn btn-lg" routerLink="{{supplier.supplierid}}"><img src="../../../assets/img/edit1.png">Edit</a></td>-->
<!--          </tr>-->
<!--        </table>-->

<!--      </div>-->

<!--    </div>-->
<!--    <div class="col-md-12 paginationCss">-->
<!--      <pagination-controls-->
<!--        previousLabel="Prev"-->
<!--        nextLabel="Next"-->
<!--        [responsive]="true"-->
<!--        (pageChange)="handlePageChange($event)"-->
<!--        (pageBoundsCorrection)="handlePageChange($event)"-->
<!--      ></pagination-controls>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<ng-template #loggedOut>-->
<!--  Please login.-->
<!--</ng-template>-->


