<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand"><img src="assets/img/BlocAdmin.png" alt="Logo"></a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home </a>
        </li>
        <li class="nav-item" *ngIf="(showAdminBoard || showModeratorBoard)&&isLoggedIn">
          <a href="#" class="nav-link"  routerLink="person">Person</a>
        </li>
        <li class="nav-item" *ngIf="(showAdminBoard || showModeratorBoard)&&isLoggedIn">
          <a href="#" class="nav-link"  routerLink="meters">Meters</a>
        </li>
        <li class="nav-item" *ngIf="(showAdminBoard || showModeratorBoard)&&isLoggedIn">
          <a href="#" class="nav-link"  routerLink="meterdata">MetersData</a>
        </li>
        <li class="nav-item" *ngIf="(showAdminBoard || showModeratorBoard)&&isLoggedIn">
          <a href="#" class="nav-link"  routerLink="invoices">Invoices</a>
        </li>
        <li class="nav-item" *ngIf="(showAdminBoard || showModeratorBoard)&&isLoggedIn">
          <a href="#" class="nav-link"  routerLink="payments">Payments</a>
        </li>
        <li class="nav-item" *ngIf="(showAdminBoard || showModeratorBoard)&&isLoggedIn">
          <a href="#" class="nav-link"  routerLink="flats">Flats</a>
        </li>
        <li class="nav-item" *ngIf="(showAdminBoard || showModeratorBoard)&&isLoggedIn">
          <a href="#" class="nav-link"  routerLink="buildings">Buildings</a>
        </li>
        <li class="nav-item" *ngIf="(showAdminBoard || showModeratorBoard)&&isLoggedIn">
          <a href="#" class="nav-link"  routerLink="suppliers">Suppliers</a>
        </li>
        <li class="nav-item" *ngIf="(showAdminBoard || showModeratorBoard)&&isLoggedIn">
          <a href="#" class="nav-link"  routerLink="address">Addresses</a>
        </li>
        <li class="nav-item" *ngIf="(showAdminBoard || showModeratorBoard)&&isLoggedIn">
          <a href="#" class="nav-link"  routerLink="home">Reports</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="changepassword">Change Password</a>
        </li>
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </nav>
  </div>
  <!--</div>-->
<!--  <div class="container-fluid">-->
  <div class="row">
    <div class="side col-1" *ngIf="isLoggedIn&&(showModeratorBoard||showAdminBoard)">
      <app-leftmenu></app-leftmenu>
    </div>
    <div class="content col-11">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

