<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Invoice Add Form</h2>
    </div>

    <div class="row clearfix">
      <div class="">
        <form *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && saveInvoice()"
              #f="ngForm"
              novalidate>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="invnum">Invoice Number</label>
            <input
              id="invnum"
              type="text"
              name="invnum"
              [(ngModel)]="form.invoiceNumber"
              (ngModelChange)="checkInvoiceNo(form.invoiceNumber)"
              placeholder="Invoice Number"
              required
              #invnum="ngModel"
              autofocus
            />
          </div>
          <div class="alert-danger" *ngIf="invoiceExist">
            <div>Invoice Number already used</div>
          </div>
          <div class="alert-danger" *ngIf="invnum.errors && f.submitted">
            <div *ngIf="invnum.errors.required">Invoice number is required</div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="supplier">Supplier</label>
            <ng-select id="supplier" [items]="suppliers"
                       bindLabel="supplierName"
                       placeholder="Select Supplier"
                       appendTo="body"
                       #supp="ngModel"
                       required
                       [hideSelected]="true"
                       [searchable]="true"
                       [multiple]="false"
                       [(ngModel)]=form.supplier
                       [ngModelOptions]="{standalone: true}">
            </ng-select>

            <div class="alert-danger" *ngIf="supp.errors && f.submitted">
              <div *ngIf="supp.errors.required">Supplier is required</div>
            </div>
          </div>

          <div class="input_field form-group radio_option">
            <label class="col-md-3 col-form-label" for="inline-radios">Has Meter</label>
              <div class="form-check form-check-inline mr-1" id="inline-radios">
                <input type="radio" name="inline-radios" [(ngModel)]="hasMeter" [value]="true" id="inlineRadio1" (change)="changeMeter()"/>
                <label class="form-check-label p-1" for="inlineRadio1" >YES</label>
              </div>
              <div class="form-check form-check-inline mr-1" >
                <input type="radio" name="inline-radios" [(ngModel)]="hasMeter" [value]="false" id="inlineRadio2" (change)="changeMeter()"/>
                <label class="form-check-label  p-1" for="inlineRadio2">NO</label>
              </div>
            </div>

          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="building">Building</label>
            <ng-select id="building" [items]="buildings"
                       bindLabel="bindName"
                       placeholder="Select Building"
                       appendTo="body"
                       [searchable]="true"
                       [multiple]="true"
                       #build="ngModel"
                       required
                       [hideSelected]="true"
                       (change)="getAllBuildingMeters(form.buildings)"
                       [(ngModel)]=form.buildings
                       [ngModelOptions]="{standalone: true}">
              <ng-option *ngFor="let building of buildings"
                         [value]="building">{{building?.address?.city}} {{building?.address?.raion}} {{building?.address?.street}} {{building?.address?.houseNumber}}
                <span *ngIf="building?.address?.entranceNo">/{{building?.address?.entranceNo}}</span></ng-option>
            </ng-select>

            <div class="alert-danger" *ngIf="build.errors && f.submitted">
              <div *ngIf="build.errors.required">Building is required</div>
            </div>
          </div>
          <div *ngIf="hasMeter">
          <div class="input_field" ><span><i aria-hidden="true" ></i></span>
            <label for="meter">Meter</label>
            <ng-select id="meter"
                       bindLabel="bindName"
                       placeholder="Select Meter"
                       appendTo="body"
                       [searchable]="true"
                       [multiple]="false"
                       #met="ngModel"
                       required
                       [(ngModel)]=form.meter
                       (change)="getPreviousValue(form.meter)"
                       [ngModelOptions]="{standalone: true}">
              <ng-option *ngFor="let meter of buildMeters" [value]="meter">{{meter.serial}}</ng-option>

            </ng-select>

            <div class="alert-danger" *ngIf="met.errors && f.submitted">
              <div *ngIf="met.errors.required">Meter is required</div>
            </div>
          </div>
            <div class="input_field"><span><i aria-hidden="true" ></i></span>
              <label for="place">Placement</label>
              <ng-select id="place" [items]="typeOfMeterInvoices"
                         bindLabel="name"
                         placeholder="Select Type of Invoice"
                         appendTo="body"
                         [searchable]="false"
                         [multiple]="false"
                         required
                         #place="ngModel"
                         (change)="getCurrentPreviousValue(form.meter)"
                         [(ngModel)]="form.typeOfMeterInvoice"
                         [ngModelOptions]="{standalone: true}">
              </ng-select>

              <div class="alert-danger" *ngIf="place.errors && f.submitted">
                <div *ngIf="place.errors.required">Placement is required</div>
              </div>
            </div>
          <div class="input_field" ><span><i aria-hidden="true"></i></span>
            <label for="prev">Meter Previous Data</label>
            <input
              id="prev"
              type="number"
              name="prev"
              [(ngModel)]="form.meterDataPrevious"
              placeholder="Meter Previous Data"
              required
              #prev="ngModel"
            />
          </div>
          <div class="alert-danger" *ngIf="prev.errors && f.submitted">
            <div *ngIf="prev.errors.required">Previous Data is required</div>
          </div>
          <div class="input_field" ><span><i aria-hidden="true"></i></span>
            <label for="curr">Current Meter Data</label>
            <input
              id="curr"
              type="number"
              name="curr"
              [(ngModel)]="form.meterDataCurrent"
              placeholder="Current Meter Data"
              required
              #curr="ngModel"
            />
          </div>

            <div *ngIf="prev>curr" class="alert-danger">Current Data must be greater then Previuos</div>
          <div class="alert-danger" *ngIf="curr.errors && f.submitted">
            <div *ngIf="curr.errors.required">Current Data is required</div>
          </div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="sum">Invoice Sum</label>
            <input
              id="sum"
              type="number"
              name="sum"
              [(ngModel)]="form.invoiceSum"
              placeholder="Invoice Sum"
              required
              #sum="ngModel"
            />
          </div>
          <div class="alert-danger" *ngIf="sum.errors && f.submitted">
            <div *ngIf="sum.errors.required">Invoice sum is required</div>
          </div>
          <div class="input_field "><span><i aria-hidden="true"></i></span>
            <label for="emitt">Emitted Date</label>
            <input
              class="dateTime"
              id="emitt"
              type="date"
              name="emitt"
              [(ngModel)]="form.emittedDate"
              placeholder="Emitted on"
              #emitt="ngModel"
            />
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="till">Payment time</label>
            <input
              class="dateTime"
              id="till"
              type="date"
              name="till"
              [(ngModel)]="form.payTill"
              placeholder="Invoice Payment limit"
              required
              #till="ngModel"
            />
          </div>
          <div class="alert-danger" *ngIf="till.errors && f.submitted">
            <div *ngIf="till.errors.required">Payment limit time is required</div>
          </div>

<!--          File upload-->
          <div class="input_field"><span><i aria-hidden="true" ></i></span>
            <div class="row">
              <label class="col-sm-3 col-form-label">File</label>
              <div class="col-sm-6">
                <label for="file" class="btn btn-default p-0">
                  <input type="file" accept="image/*"  id="file" (change)="selectFiles($event)"/>
                </label>
              </div>

              <div class="col-3">
                <button
                  type="button"
                  class="btn btn-success btn-sm"
                  [disabled]="!selectedFiles"
                  (click)="uploadFiles()">
                  Upload
                </button>
              </div>
              <div *ngFor="let progressInfo of progressInfos" class="mb-2 col-sm-6">
                <span>{{ progressInfo.fileName }}</span>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar"
                    attr.aria-valuenow="{{ progressInfo.value }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [ngStyle]="{ width: progressInfo.value + '%' }">
                    {{ progressInfo.value }}%
                  </div>
                </div>
              </div>

              <div *ngIf="message.length" class="alert alert-danger my-3" role="alert">
                <ul *ngFor="let msg of message; let i = index">
                  <li>{{ msg }}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <input class="button" type="submit" value="Register"/>
            </div>
            <div class="col-6">
              <input class="button" type="reset" value="Reset" (click)="backClicked()"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
