<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Meters Edit Form</h2>
    </div>

    <div class="row clearfix">
      <div class="">
        <form *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && updateMeter(f)"
              #f="ngForm"
              novalidate>
          <div class="input_field"> <span><i aria-hidden="true"></i></span>
            <label for="serial">Serial</label>
            <input
              id="serial"
              type="text"
              name="serial"
              [(ngModel)]="meter.serial"
              placeholder="Serial"
              required
              #serials="ngModel"
              autofocus
              (ngModelChange)="checkSerial(meter.serial)"
            />
          </div>
          <div class="alert-danger" *ngIf="serialExist">
            <div>Serial already used</div>
          </div>
          <div class="alert-danger" *ngIf="serials.errors && f.submitted">
            <div *ngIf="serials.errors.required">Serial is required</div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="dest">Destination</label>
            <ng-select
              [items]="meterDest"
              id="dest"
              bindLabel="name"
              required
              [searchable]="true"
              [multiple]="false"
              #dest="ngModel"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]=selectedMeterDest>
              <ng-option *ngFor="let mdest of meterDest"
                         [value]="mdest">{{mdest?.name}}</ng-option>
            </ng-select>

            <div class="alert-danger" *ngIf="dest.errors && f.submitted">
              <div *ngIf="dest.errors.required">Address is required</div>
            </div>
          </div>

          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="init">Initial Value</label>
            <input
              id="init"
              type="number"
              placeholder="Initial Value"
              name="init"
              [(ngModel)]="meter.initialValue"
              readonly
              #init="ngModel"
            />
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="type">Placement</label>
            <ng-select
              [items]="typeOfMeterInvoice"
              id="type"
              bindLabel="name"
              required
              [searchable]="false"
              [multiple]="false"
              #type="ngModel"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]=selectedTypeOfMeterInvoice>
              <ng-option *ngFor="let typeOfMeterInvoice of typeOfMeterInvoice"
                         [value]="typeOfMeterInvoice">{{typeOfMeterInvoice?.name}}</ng-option>
            </ng-select>

            <div class="alert-danger" *ngIf="type.errors && f.submitted">
              <div *ngIf="type.errors.required">Placement is required</div>
            </div>
          </div>
          <div class="input_field" *ngIf="selectedTypeOfMeterInvoice.name=='TYPE_FLATS'"><span><i
            aria-hidden="true"></i></span>
            <label for="person">Person</label>
            <ng-select id="person"
                       [items]="persons"
                       #pers="ngModel"
                       bindLabel="bindName"
                       required
                       [searchable]="true"
                       [multiple]="false"
                       [(ngModel)]=selectedPerson
                       [ngModelOptions]="{standalone: true}">
              <ng-option *ngFor="let person in persons" [value]="person">{{person.name}} {{person.surname}}</ng-option>
            </ng-select>

            <div class="alert-danger" *ngIf="pers.errors && f.submitted">
              <div *ngIf="pers.errors.required">Person is required</div>
            </div>
          </div>
          <div class="input_field" *ngIf="selectedTypeOfMeterInvoice.name=='TYPE_FLATS'"><span><i
            aria-hidden="true"></i></span>
            <label for="flat">Flat</label>
            <ng-select id="flat"
                       [items]="flats"
                       bindLabel="bindName"
                       placeholder="Select Flat"
                       appendTo="body"
                       required
                       #fl="ngModel"
                       [searchable]="true"
                       [multiple]="false"
                       [(ngModel)]=selectedFlats
                       [ngModelOptions]="{standalone: true}">
              <ng-option *ngFor="let flat in flats" [value]="flat">{{flat.flatNumber}} {{flat.floor}}</ng-option>
            </ng-select>

            <div class="alert-danger" *ngIf="fl.errors && f.submitted">
              <div *ngIf="fl.errors.required">Flat is required</div>
            </div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="supplier">Supplier</label>
            <ng-select id="supplier" [items]="suppliers"
                       bindLabel="supplierName"
                       placeholder="Select Supplier"
                       appendTo="body"
                       #supp="ngModel"
                       required
                       [searchable]="true"
                       [multiple]="false"
                       [(ngModel)]=selectedSuppliers
                       [ngModelOptions]="{standalone: true}">
            </ng-select>

            <div class="alert-danger" *ngIf="supp.errors && f.submitted">
              <div *ngIf="supp.errors.required">Address is required</div>
            </div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="building">Building</label>
            <ng-select id="building" [items]="buildings"
                       bindLabel="bindName"
                       placeholder="Select Building"
                       appendTo="body"
                       [searchable]="true"
                       [multiple]="false"
                       #build="ngModel"
                       required
                       [(ngModel)]=selectedBuilding
                       [ngModelOptions]="{standalone: true}">
              <ng-option *ngFor="let building of buildings"
                         [value]="building">{{building?.address?.city}} {{building?.address?.raion}} {{building?.address?.street}} {{building?.address?.houseNumber}}
                <span *ngIf="building?.address?.entranceNo">/{{building?.address?.entranceNo}}</span></ng-option>

            </ng-select>

            <div class="alert-danger" *ngIf="build.errors && f.submitted">
              <div *ngIf="build.errors.required">Address is required</div>
            </div>
          </div>


          <div class="row">
            <div class="col-6">
              <input class="button" type="submit" value="Register"/>
            </div>
            <div class="col-6">
              <input class="button" type="reset" value="Reset" (click)="backClicked()"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
