<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Meters Edit Form</h2>
    </div>

    <div class="row clearfix">
      <div class="">
        <form *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && updateMeterData(f)"
              #f="ngForm"
              novalidate>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="init">Serial</label>
            <input
              id="init"
              type="text"
              placeholder="Initial Value"
              name="init"
              [(ngModel)]="selectedMeter.serial"
              readonly
              autofocus
              #init="ngModel"
            />
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="prev">Previuos Value</label>
            <input
              id="prev"
              type="number"
              name="serial"
              [(ngModel)]="meterdata.previousValue"
              placeholder="Meter previous value"
              readonly
              #prev="ngModel"
              autofocus
            />
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="curr">Current value</label>
            <input
              [min]="meterdata.previousValue"
              id="curr"
              type="number"
              name="curr"
              [(ngModel)]="meterdata.currentValue"
              (change)="enterCurrentValue($event)"
              placeholder="Current Value"
              required
              #curr="ngModel"
              autofocus
            />
          </div>
          <div class="alert-danger" *ngIf="difference">Current Value should be greater then Previous</div>
          <div class="alert-danger" *ngIf="curr.errors && f.submitted">
            <div *ngIf="curr.errors.required">Current value is required</div>
            <div *ngIf="difference">Current Value should be greater then Previous</div>
          </div>


          <div class="row">
            <div class="col-6">
              <input class="button" type="submit" value="Register"/>
            </div>
            <div class="col-6">
              <input class="button" type="reset" value="Reset" (click)="backClicked()"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
