<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Building Edit Form</h2>
    </div>

    <div class="row clearfix">
      <div class="">
        <form *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && updateBuilding(f)"
              #f="ngForm"
              novalidate>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="address">Address</label>
            <ng-select
              [items]="addresses"
              id="address"
              bindLabel="bindName"
              required
              [searchable]="true"
              [multiple]="false"
              #address="ngModel"
              autofocus
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]=selectedAddress>
              <ng-option *ngFor="let address of addresses"
                         [value]="address">{{address?.city}} {{address?.raion}} {{address?.street}} {{address?.houseNumber}}
                <span *ngIf="address?.entranceNo">/{{address?.entranceNo}}</span></ng-option>
            </ng-select>

            <div class="alert-danger" *ngIf="address.errors && f.submitted">
              <div *ngIf="address.errors.required">Address is required</div>
            </div>
          </div>


          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="floor">Floors Quantity</label>
            <input
              id="floor"
              type="number"
              placeholder="Floor numbers"
              name="floors"
              [(ngModel)]="building.floors"
              required
              autofocus
              #floors="ngModel"
              min="0"
            />

            <div class="alert-danger" *ngIf="floors.errors && f.submitted">
              <div *ngIf="floors.errors.required">Floor numbers is required</div>
            </div>
          </div>


          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="flat">Flats Quantity</label>
            <input
              id="flat"
              type="number"
              placeholder="Flats numbers"
              name="flats"
              [(ngModel)]="building.flats"
              required
              autofocus
              #flats="ngModel"
              min="0"
            />

            <div class="alert-danger" *ngIf="flats.errors && f.submitted">
              <div *ngIf="flats.errors.required">Flat numbers is required</div>
            </div>
          </div>


          <div class="row">
            <div class="col-6">
              <input class="button" type="submit" value="Register"/>
            </div>
            <div class="col-6">
              <input class="button" type="reset" value="Reset" (click)="backClicked()"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--<div class="container" *ngIf="tokenStorageService.isLoggedIn; else loggedOut">-->
<!--  <div class="col-12" *ngIf="building"-->
<!--       style="border: 2px solid; border-color: rgb(0, 38, 255); font-size: 20px;height: auto">-->
<!--    <h2 class="justify-content-center m-3">Building attributes to Edit</h2>-->
<!--    <form (ngSubmit)="updateBuilding(playlistForm)" #playlistForm="ngForm">-->

<!--      <div class="form-group row">-->
<!--        <label class="col-md-3 col-form-label" for="address">Select</label>-->
<!--        <div class="col-md-9">-->
<!--          <ng-select class="custom" id="address" [items]="addresses"-->
<!--                     bindLabel="bindName"-->
<!--                     placeholder=""-->
<!--                     appendTo="body"-->
<!--                     [searchable]="true"-->
<!--                     [multiple]="false"-->
<!--                     [(ngModel)]=selectedAddress-->
<!--                     [ngModelOptions]="{standalone: true}">-->
<!--            <ng-option *ngFor="let address of addresses" [value]="address">{{address.city}} {{address.raion}} {{address.street}} {{address.houseNumber}}</ng-option>-->
<!--          </ng-select>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group form-group-sm col-sm-6 m-5">-->
<!--        <div class="row">-->
<!--          <label for="floor" class="col-sm-3 col-form-label">Number of Floors</label>-->
<!--          <div class="col-sm-9">-->
<!--            <input type="number" min="0" class="form-control" id="floor" placeholder="Enter number of floors"
                [(ngModel)]="building.floors"-->
<!--                   name="floors">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group row">-->
<!--        <label class="col-md-3 col-form-label" for="text-input">Text Input</label>-->
<!--        <div class="col-md-9">-->
<!--          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">-->
<!--          <span class="help-block">This is a help text</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group form-group-sm col-sm-6 m-5">-->
<!--        <div class="row">-->
<!--          <label for="flat" class="col-sm-3 col-form-label">Number of Flats</label>-->
<!--          <div class="col-sm-9">-->
<!--            <input type="number" min="0" class="form-control" id="flat" placeholder="Enter number of flats"-->
<!--                   [(ngModel)]="building.flats" name="flats">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


<!--      <button type="submit" class="btn btn-success m-5 btn-lg" (click)="updateBuilding(playlistForm)">Submit</button>-->
<!--      <button type="cancel" class="btn btn-danger m-5  btn-lg" routerLink="/buildings">Cancel</button>-->

<!--    </form>-->
<!--  </div>-->
<!--</div>-->


<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div *ngIf="!building">-->
<!--  <br/>-->
<!--  <p>Cannot access this Building...</p>-->
<!--</div>-->

<!--<ng-template #loggedOut>-->
<!--  Please login.-->
<!--</ng-template>-->




