<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Building Edit Form</h2>
    </div>

    <div class="row clearfix">
      <div class="">
        <form *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && updateBuilding(f)"
              #f="ngForm"
              novalidate>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="address">Address</label>
            <ng-select
              [items]="addresses"
              id="address"
              bindLabel="bindName"
              required
              [searchable]="true"
              [multiple]="false"
              #address="ngModel"
              autofocus
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]=selectedAddress>
              <ng-option *ngFor="let address of addresses"
                         [value]="address">{{address?.city}} {{address?.raion}} {{address?.street}} {{address?.houseNumber}}
                <span *ngIf="address?.entranceNo">/{{address?.entranceNo}}</span></ng-option>
            </ng-select>

            <div class="alert-danger" *ngIf="address.errors && f.submitted">
              <div *ngIf="address.errors.required">Address is required</div>
            </div>
          </div>


          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="floor">Floors Quantity</label>
            <input
              id="floor"
              type="number"
              placeholder="Floor numbers"
              name="floors"
              [(ngModel)]="building.floors"
              required
              autofocus
              #floors="ngModel"
              min="0"
            />

            <div class="alert-danger" *ngIf="floors.errors && f.submitted">
              <div *ngIf="floors.errors.required">Floor numbers is required</div>
            </div>
          </div>


          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="flat">Flats Quantity</label>
            <input
              id="flat"
              type="number"
              placeholder="Flats numbers"
              name="flats"
              [(ngModel)]="building.flats"
              required
              autofocus
              #flats="ngModel"
              min="0"
            />

            <div class="alert-danger" *ngIf="flats.errors && f.submitted">
              <div *ngIf="flats.errors.required">Flat numbers is required</div>
            </div>
          </div>


          <div class="row">
            <div class="col-6">
              <input class="button" type="submit" value="Register"/>
            </div>
            <div class="col-6">
              <input class="button" type="reset" value="Reset" (click)="backClicked()"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
