<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Building Add Form</h2>
    </div>

    <div class="row clearfix">
      <div class="">
        <form *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && saveSupplier()"
              #f="ngForm"
              novalidate>

          <label for="name">Supplier Name</label>
          <div class="input_field"> <span><i aria-hidden="true"></i></span>
            <input
              id="name"
              type="text"
              placeholder="Enter Supplier Name"
              name="name"
              [(ngModel)]="form.supplierName"
              required
              autofocus
              #name="ngModel"
            />
            <div class="alert-danger" *ngIf="name.errors && f.submitted">
              <div *ngIf="name.errors.required">Supplier name is required</div>
            </div>
          </div>
          <label for="iban">Supplier IBAN</label>
          <div class="input_field"> <span><i aria-hidden="true"></i></span>
            <input
              id="iban"
              type="text"
              placeholder="Enter Supplier IBAN"
              name="iban"
              [(ngModel)]="form.iban"
              required
              #iban="ngModel"
            />
            <div class="alert-danger" *ngIf="iban.errors && f.submitted">
              <div *ngIf="iban.errors.required">Supplier IBAN is required</div>
            </div>
          </div>
          <label for="bank">Bank Code</label>
          <div class="input_field"> <span><i aria-hidden="true"></i></span>
            <input
              id="bank"
              type="text"
              placeholder="Enter Supplier Bank Code"
              name="bank"
              [(ngModel)]="form.bankCode"
              required
              #bank="ngModel"
            />
            <div class="alert-danger" *ngIf="bank.errors && f.submitted">
              <div *ngIf="bank.errors.required">Supplier Bank Code is required</div>
            </div>
          </div>
          <label for="fiscal">Fiscal Code</label>
          <div class="input_field"> <span><i aria-hidden="true"></i></span>
            <input
              id="fiscal"
              type="text"
              placeholder="Enter Supplier Fiscal Code"
              name="fiscal"
              [(ngModel)]="form.fiscalCode"
              required
              #fiscal="ngModel"
            />
            <div class="alert-danger" *ngIf="fiscal.errors && f.submitted">
              <div *ngIf="fiscal.errors.required">Supplier Fiscal Code is required</div>
            </div>
          </div>
          <label for="details">Details</label>
          <div class="input_field"> <span><i aria-hidden="true"></i></span>
            <input
              id="details"
              type="text"
              placeholder="Enter Supplier Details"
              name="details"
              [(ngModel)]="form.details"
              #details="ngModel"
            />
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <div class="form-group">
              <label for="address">Address</label>
              <ng-select
                id="address"
                required="true"
                [searchable]="true"
                [multiple]="false"
                placeholder="Select Address"
                #address="ngModel"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]=selectedAddress>
                <ng-option *ngFor="let address of addresses"
                           [value]="address">{{address?.city}} {{address?.raion}} {{address?.street}} {{address?.houseNumber}}
                  <span *ngIf="address?.entranceNo">/{{address?.entranceNo}}</span></ng-option>
              </ng-select>
            </div>

            <div class="alert-danger" *ngIf="address.errors && f.submitted">
              <div *ngIf="address.errors.required">Address is required</div>
            </div>
          </div>


          <div class="row">
            <div class="col-6">
              <input class="button" type="submit" value="Register"/>
            </div>
            <div class="col-6">
              <input class="button" type="reset" value="Reset" (click)="backClicked()"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
