<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <div>
        <h2>Reset Your Password</h2>
      </div>
      <form
        name="form"
        (ngSubmit)="f.form.valid && resetPassword()"
        #f="ngForm"
        novalidate
      >
        <!--<form action="/reset_password" method="post" style="max-width: 350px; margin: 0 auto;">-->
        <!--  <input type="hidden" name="token" value="${token}" />-->
        <div class="border border-secondary rounded p-3">
          <div>
            <div class="input_field"><span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input
                type="password"
                placeholder="Password"
                name="password"
                [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel"
              />
              <div class="alert-danger" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="input_field"><span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input
                type="password"
                placeholder="Re-type Password"
                name="password"
                [(ngModel)]="form.password2"
                required
                minlength="6"
                #password2="ngModel"
              />
                      <div class="alert-danger" *ngIf="f.submitted">
                        <div *ngIf="password2!=password">Password do not match</div>
                      </div>
            </div>
            <p class="text-center">
              <input type="submit" value="Change Password" class="btn btn-primary" (submit)="resetPassword()"/>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
