<div class="container-fluid" *ngIf="tokenStorageService.isLoggedIn; else loggedOut">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="row">
          <div class="card-header">
            <i class="fa fa-person-booth"></i> List of available Persons
          </div>

        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <a class="btn btn-light btn-lg m-3" routerLink="add"><img src="../../../assets/img/new1.png">Add New</a>
            </div>
            <div class="col-4" >
              <form class="d-flex" action="list" method="get">
                <div class="row pt-4 dataTables_length bs-select" id="dtBasicExample_length">
                  <div class="col-8" >
                    Items per Page:
                  </div>
                  <div class="col-4" >
                    <select (change)="handlePageSizeChange($event)">
                      <option *ngFor="let size of pageSizes" [ngValue]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                </div>
              </form>
            </div>

            <div class="col-6 pt-4">
              <form class="d-flex" action="list" method="get">
                <!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" #search>-->
                <input type="text" class="form-control" placeholder="Search word" [(ngModel)]="title" name="query"/>
                <button class="btn btn-success btn-lg text-center me-3 ms-3" type="button" (click)="retrievePersons()">Search
                </button>
                <a href="/person" class="btn btn-primary btn-lg text-center" role="button" aria-pressed="true">Clear</a>
              </form>
            </div>
          </div>
          <nav>
            <ul class="pagination">
              <div class="col-md-12 paginationCss">
                <pagination-controls
                  previousLabel="Prev"
                  nextLabel="Next"
                  [responsive]="true"
                  (pageChange)="handlePageChange($event)"
                  (pageBoundsCorrection)="handlePageChange($event)"
                ></pagination-controls>
              </div>
            </ul>
          </nav>
          <table class="table table-bordered table-responsive-sm table-striped table-sm">
            <thead align="center">
            <tr>
              <th class="col-1">Username</th>
              <th class="col-1">First Name</th>
              <th class="col-1">Last Name</th>
              <th class="col-2">Email</th>
              <th class="col-1">Phone</th>
              <th class="col-1">Mobile</th>
              <th class="col-1">IDNP</th>
              <th class="col-2">Description</th>
              <th class="col-2" colspan=2>Quick Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let person of persons|paginate : {
                              itemsPerPage: pageSize,
                              currentPage: page,
                              totalItems: count
                            };
                            let i = index"
                align="center" style="font-size: 18px">
              <td>{{person.username}}</td>
              <td>{{person.name}}</td>
              <td>{{person.surname}}</td>
              <td>{{person.email}}</td>
              <td>{{person.phone}}</td>
              <td>{{person.mobile}}</td>
              <td>{{person.idnp}}</td>
              <td>{{person.description}}</td>
              <td align="center"><a class="btn btn-lg" data-bs-toggle="modalPerson" data-bs-target="#myModalPerson" (click)="showDeleteConfirm(person)"><img src="../../../assets/img/delete1.png">Delete</a></td>
              <td align="center"><a class="btn btn-lg" routerLink="{{person.personid}}"><img
                src="../../../assets/img/edit1.png">Edit</a></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="card-footer">

      </div>
    </div>

  </div>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>

<!--Modal for delete confirmation-->
<div class="container text-center my-5">
  <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirmation Person Delete</h4>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="" style="background-color:azure;">

            <p>You are about to delete:<b> {{personToDelete?.name}} {{personToDelete.surname}}</b>. Are you sure?  </p>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click) = "deletePerson(personToDelete.personid)">Sure</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click) = "hideModals()">Not Sure</button>
        </div>

      </div>
    </div>
  </div>
</div>

<!--Modal for delete confirmation bad-->
<div class="container text-center my-5">
  <div class="modal" id="myModalBad" [style.display]="showModalBad ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Person Delete</h4>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="table" style="background-color:azure;">

            <p>!!!Person cannot be deleted!!!</p>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
<!--          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click) = "deletePerson(personToDelete.personid)">Sure</button>-->
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click) = "hideModals()">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
