<div class="container-fluid" *ngIf="tokenStorageService.isLoggedIn; else loggedOut">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="row">
          <div class="card-header">
            <i class="fa fa-building"></i> List of available Payments
          </div>
        </div>
        <div class="row pt-2">
          <label for="person" class="col-sm-3 col-form-label ps-5">Select Person</label>
          <div class="col-sm-8">
            <ng-select (change)=getPersonFlats() class="custom" id="person"
                       [searchable]="true"
                       [multiple]="false"
                       [(ngModel)]=selectedPerson>
              <ng-option *ngFor="let person of persons" [value]="person">{{person.name}} {{person.surname}}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div *ngIf="flats.length>0">
              <table class="table table-bordered table-responsive-sm table-striped table-sm">
                <thead align="center">
                <tr>
                  <th class="col-4">Flat</th>
                  <th class="col-1">Wallet</th>
                  <th class="col-1">Money to supply</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let payment of payments" align="center" style="font-size: 18px">
                  <td *ngIf="payment?.flat?.building?.address?.entranceNo!=null">Flat: {{payment?.flat?.flatNumber}}
                    ->({{payment?.flat?.building?.address?.city}} {{payment?.flat?.building?.address?.raion}} {{payment?.flat?.building?.address?.street}}
                    {{payment?.flat?.building?.address?.houseNumber}}/{{payment?.flat?.building?.address?.entranceNo}})
                  </td>
                  <td *ngIf="payment?.flat?.building?.address?.entranceNo==null">Flat: {{payment?.flat?.flatNumber}}
                    ->({{payment?.flat?.building?.address?.city}} {{payment?.flat?.building?.address?.raion}} {{payment?.flat?.building?.address?.street}}
                    {{payment?.flat?.building?.address?.houseNumber}})
                  </td>

                  <td>{{payment.flat?.wallet}}</td>
                  <td>
                    <input type="number" class="col-sm-5" min="1" class="form-control"
                           [(ngModel)]="payment.sum">
                  </td>
                </tr>
                </tbody>
              </table>

              <div class="form_wrapper">
                <div class="form_container">
                  <div class="row clearfix">
                    <div class="">
                      <form *ngIf="!isSuccessful"
                            name="form"
                            (ngSubmit)="f.form.valid && savePayment()"
                            #f="ngForm"
                            novalidate>
                        <div class="row">
                          <div class="col-6">
                            <input class="button" type="submit" value="Register"/>
                          </div>
                          <div class="col-6">
                            <input class="button" type="reset" value="Reset" (click)="backClicked()"/>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
          <div class="card-footer">
          </div>
        </div>

      </div>
    </div>
  </div>

  <ng-template #loggedOut>
    Please login.
  </ng-template>
