<div class="container-fluid" *ngIf="tokenStorageService.isLoggedIn; else loggedOut">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="row">
          <div class="card-header">
            <i class="fa fa-file"></i> List of available Files
          </div>

        </div>

        <div class="card-body">
          <table class="table table-bordered table-responsive-sm table-striped table-sm">
            <thead align="center">
            <tr>
              <th>File ID</th>
              <th>File Name</th>
              <th>File type</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let file of files|paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
                let i = index"
                align="center" style="font-size: 18px">
              <td *ngIf="file.invoiceFile.fileid">{{file.invoiceFile.fileid}}</td>
              <td>{{file.name}}</td>
              <td>{{file.type}}</td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="card-footer">

      </div>
    </div>

  </div>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>



