<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <div>
        <h2>Change Your Password</h2>
      </div>
      <form
        name="form"
        (ngSubmit)="f.form.valid && changePassword()"
        #f="ngForm"
        novalidate
      >
        <div class="border border-secondary rounded p-3">
          <div>
            <div class="input_field"><span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input
                type="password"
                placeholder="Old Password"
                name="password"
                [(ngModel)]="form.oldpassword"
                required
                minlength="6"
                #oldpassword="ngModel"
              />
              <div class="alert-danger" *ngIf="oldpassword.errors && f.submitted">
                <div *ngIf="oldpassword.errors.required">Old Password is required</div>
                <div *ngIf="oldpassword.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="input_field"><span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input
                type="password"
                placeholder="New Password"
                name="password"
                [(ngModel)]="form.newpassword"
                required
                minlength="6"
                #password="ngModel"
              />
              <div class="alert-danger" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="input_field"><span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input
                type="password"
                placeholder="Re-type New Password"
                name="password"
                [(ngModel)]="form.newpassword2"
                required
                minlength="6"
                #password2="ngModel"
              />
              <div class="alert-danger" *ngIf="password2.errors &&f.submitted">
                <div *ngIf="password2!=password">New Password do not match</div>
                <div *ngIf="password==oldpassword">New Password must be different</div>
              </div>
            </div>
            <p class="text-center">
              <input type="submit" value="Change Password" class="btn btn-primary" (submit)="changePassword()"/>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
