<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Flat Add Form</h2>
    </div>

    <div class="row clearfix">
      <div class="">
        <form *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && saveFlat()"
              #f="ngForm"
              novalidate>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="buildings">Building</label>
            <ng-select
              [items]="buildings"
              id="buildings"
              (change)="getAvailableFlatsByBuilding()"
              bindLabel="bindName"
              required
              [searchable]="true"
              [multiple]="false"
              #building="ngModel"
              autofocus
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]=selectedBuilding>
              <ng-option *ngFor="let building of buildings"
                         [value]="building">{{building?.address?.city}} {{building?.address?.raion}} {{building?.address?.street}} {{building?.address?.houseNumber}}
                <span *ngIf="building?.address?.entranceNo">/{{building?.address?.entranceNo}}</span></ng-option>
            </ng-select>

            <div class="alert-danger" *ngIf="building.errors && f.submitted">
              <div *ngIf="building.errors.required">Building is required</div>
            </div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="person">Person</label>
            <ng-select
              [items]="persons"
              id="person"
              bindLabel="bindName"
              required
              [searchable]="true"
              [multiple]="true"
              [hideSelected]="true"
              #person="ngModel"
              autofocus
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]=selectedPerson>
              <ng-option *ngFor="let person of persons" [value]="person">{{person.name}} {{person.surname}}</ng-option>
            </ng-select>
            <div class="alert-danger" *ngIf="building.errors && f.submitted">
              <div *ngIf="building.errors.required">Building is required</div>
            </div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="flat">Flat Number</label>
            <ng-select
              #flats="ngModel"
              autofocus
              id="flat"
              name="flat"
              [items]="availableFlats"
              [searchable]="false"
              [multiple]="false"
              [(ngModel)]=flat.flatNumber>
              <ng-option *ngFor="let flat of availableFlats"
                         [value]="flat">{{flat}}</ng-option>
            </ng-select>

            <div class="alert-danger" *ngIf="flats.errors && f.submitted">
              <div *ngIf="flats.errors.required">Flat numbers is required</div>
            </div>
          </div>
          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="floor">Floor Number</label>
            <ng-select
              #floors="ngModel"
              autofocus
              id="floor"
              name="flat"
              [searchable]="false"
              [multiple]="false"
              [(ngModel)]=flat.floor>
              <ng-option *ngFor="let _ of [].constructor(selectedBuilding?.floors),let i = index"
                         [value]="i+1">{{i + 1}}</ng-option>
            </ng-select>

            <div class="alert-danger" *ngIf="floors.errors && f.submitted">
              <div *ngIf="floors.errors.required">Floor numbers is required</div>
            </div>
          </div>

          <div class="input_field"><span><i aria-hidden="true"></i></span>
            <label for="personnr">Number of Person</label>
            <input
              id="personnr"
              type="number"
              placeholder="Number of Person"
              name="personnr"
              [(ngModel)]="flat.numberOfPerson"
              autofocus
              #personnr="ngModel"
              min="0"
            />

            <div class="alert-danger" *ngIf="personnr.errors && f.submitted">
              <div *ngIf="personnr.errors.required">Number of person is required</div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <input class="button" type="submit" value="Register"/>
            </div>
            <div class="col-6">
              <input class="button" type="reset" value="Reset" (click)="backClicked()"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
